* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.form {
  text-align: start;
  color: black;
  width: 500px;
  background-color: rgb(240, 234, 255);
  padding: 20px;
  border-radius: 10px;
  margin: auto 0;

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
}

.button {
  margin-top: 20px;
  width: 100%;
}
